
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>E-Offer Admin</title>
    <link href="/Web/dist/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Admin</h3></div>
                                <div class="card-body">

                                    @using (Html.BeginForm("Login", "Admin", FormMethod.Post))
                                    {
                                        <div Class="form-group">
                                            <Label Class="small mb-1" for="inputEmailAddress">Email</Label>
                                            <input Class="form-control py-4" id="inputEmailAddress" type="text" placeholder="Enter email address" name="kullanıcıad" />
                                        </div>
                                        <div Class="form-group">
                                            <Label Class="small mb-1" for="inputPassword">Şifre</Label>
                                            <input Class="form-control py-4" id="inputPassword" type="password" placeholder="Enter password" name="password" />
                                        </div>
                                        <div Class="form-group">
                                            <div Class="custom-control custom-checkbox">
                                                <input Class="custom-control-input" id="rememberPasswordCheck" type="checkbox" />
                                                <Label Class="custom-control-label" for="rememberPasswordCheck">Şifremi Hatırla</Label>
                                            </div>
                                        </div>
                                        <div Class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <a Class="small" href="password.html">Şifreni mi Unuttun?</a>
                                            <button class="btn btn-primary" type="submit">Giriş Yap</button>
                                        </div>
                                    }




                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

    </div>
   
    <Script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></Script>
    <Script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></Script>
    <Script src="js/scripts.js"></Script>
</body>
</html>
